.mainro
{
     background-color: aqua;
     border-radius: 30px;
     display: flex;
     justify-content: start;
     align-items: center;
     font-family: 'Courier New', Courier, monospace;
}
.mainro img
{
    width: 300px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
#flex1
{
    border: 3px solid rebeccapurple;
    width: 80%;
    height: 200px;
}
#flex1 button
{
  width: 100%;
  height: 20%;
  background-color: green;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
}
#boxes1 button
{
  width: 30%;
  height: 60px;
  background-color: black;
}
#boxes1
{
    display: flex;
    justify-content: space-between;
}